entrypoint = "index.js"
modules = ["nodejs-20"]
hidden = [".config", "package-lock.json"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-24_11"

[deployment]
run = ["node", "index.js"]
deploymentTarget = "autoscale"
ignorePorts = false

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Generate Tests"

[[workflows.workflow]]
name = "Generate Tests"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node bin/qtests-generate"

[[ports]]
localPort = 33529
externalPort = 3001

[[ports]]
localPort = 35593
externalPort = 8000

[[ports]]
localPort = 36027
externalPort = 5000

[[ports]]
localPort = 36091
externalPort = 8008

[[ports]]
localPort = 36379
externalPort = 8099

[[ports]]
localPort = 36455
externalPort = 9000

[[ports]]
localPort = 36791
externalPort = 4200

[[ports]]
localPort = 39079
externalPort = 80

[[ports]]
localPort = 40007
externalPort = 6000

[[ports]]
localPort = 40009
externalPort = 3003

[[ports]]
localPort = 40681
externalPort = 5173

[[ports]]
localPort = 43283
externalPort = 8081

[[ports]]
localPort = 43835
externalPort = 6800

[[ports]]
localPort = 45113
externalPort = 8080

[[ports]]
localPort = 45549
externalPort = 3000

[[ports]]
localPort = 46047
externalPort = 3002
