entrypoint = "index.js"
modules = ["nodejs-20"]
hidden = [".config", "package-lock.json"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-24_11"

[deployment]
run = ["node", "index.js"]
deploymentTarget = "autoscale"
ignorePorts = false

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Generate Tests"

[[workflows.workflow]]
name = "Generate Tests"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node bin/qtests-generate"

[[ports]]
localPort = 34269
externalPort = 8099

[[ports]]
localPort = 34811
externalPort = 6000

[[ports]]
localPort = 34885
externalPort = 3002

[[ports]]
localPort = 35283
externalPort = 3000

[[ports]]
localPort = 35837
externalPort = 5173

[[ports]]
localPort = 37405
externalPort = 8081

[[ports]]
localPort = 37779
externalPort = 3003

[[ports]]
localPort = 38683
externalPort = 5000

[[ports]]
localPort = 38943
externalPort = 80

[[ports]]
localPort = 39195
externalPort = 4200

[[ports]]
localPort = 40019
externalPort = 3001

[[ports]]
localPort = 40813
externalPort = 6800

[[ports]]
localPort = 42185
externalPort = 9000

[[ports]]
localPort = 43293
externalPort = 8080

[[ports]]
localPort = 43929
externalPort = 8008

[[ports]]
localPort = 46681
externalPort = 8000
